/* # Front-end Style Guide  */

/* ## Layout  */

/* The designs were created to the following widths:  */

/* - Mobile: 375px  */
/* - Desktop: 1440px   */

/* ## Colors   */

/* ### Primary  */

/* - Nutmeg: hsl(14, 45%, 36%)  */
/* - Dark Raspberry: hsl(332, 51%, 32%)  */

/* ### Neutral  */

/* - White: hsl(0, 0%, 100%)  */
/* - Rose White: hsl(330, 100%, 98%)  */
/* - Eggshell: hsl(30, 54%, 90%)  */
/* - Light Grey: hsl(30, 18%, 87%)  */
/* - Wenge Brown: hsl(30, 10%, 34%)  */
/* - Dark Charcoal: hsl(24, 5%, 18%)  */

/* ## Typography  */

/* ### Body Copy  */

/* - Font size (paragraph): 16px  */

/* ### Fonts  */

/* - Family: [Young Serif](https://fonts.google.com/specimen/Young+Serif)  */
/* - Weights: 400  */

/* - Family: [Outfit](https://fonts.google.com/specimen/Outfit)  */
/* - Weights: 400, 600, 700  */

/* @import url(https://fonts.google.com/specimen/Young+Serif);  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    background-color: hsl(30, 54%, 90%);
    min-height: 100vh;
}

.hr-separate-container {
    width: 85%;
}

.container {
    display: flex; 
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.container-content { 
    width: 50%; 
    height: auto;
    margin-top: 30px;
    margin-bottom: 100px;
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
}

.container-content img { 
    margin-top: 30px; 
    border-radius: 10px;
    width: 90%; 
}

.image-omelette {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
   max-width: 600px; 
}

.content h1 {
    margin-top: 20px;
    color: hsl(24, 5%, 18%);
    left: 35px; 
    position: relative;
}

.content p {
    margin-top: 20px;
    left: 35px; 
    position: relative;
    color: hsl(30, 10%, 34%);
}

.table {
    display: flex;
    position: relative;
    left: 30px;
    margin-top: 30px;
    max-width: 90%;
    height: 170px;
    border-radius: 10px;
    background-color: hsl(330, 100%, 98%);
}

.table-content {
    position: relative;
    left: 30px;
}

.table-content h3 {
    margin-top: 20px;
    color: hsl(332, 51%, 32%);
    font-family: young, serif;
}

.table-content ul > li {
    position: relative;
    left: 30px;
    margin-top: 15px;
}

.table-content li {
    position: relative;
    left: 30px;
    color: hsl(30, 10%, 34%) 
}

.ingredients-content {
    margin-top: 30px;
    position: relative; 
    left: 20px;
}

.ingredients h2 {
    color: hsl(14, 45%, 36%);
}

.ingredients ul > li {
    margin-top: 10px;
    position: relative;
    left: 20px;
}

ul > li {
    padding-left: 20px; /* ESPACE DE 20px */
}

hr {
    width: 130%;
    position: relative;
    left: 20px;
    margin-top: 30px;
}

/*   PARTIE INSTRUCTIONS   */
.instructions-container {
    margin-top: 30px;
    position: relative;
    left: 20px; 
    max-width: 550px;
}

.instructions-container h2 {
    color: hsl(14, 45%, 36%);
}

.instructions-container ol > li {
    position: relative; 
    left: 20px;
    margin-top: 20px;
}

.instructions-container ol li {
    padding-left: 20px; /* Espace de  20px entre les éléments d'une liste */
}


/*   PARTIE NUTRITIONS   */
.nutrition-container {
    margin-top: 20px;
    position: relative;
    left: 20px;
}

.nutrition-container h2 { 
    color: hsl(14, 45%, 36%);
}

.nutrition-container p { 
    margin-top: 20px;
}

.table-nutrition {
    margin-top: 30px;
    margin-bottom: 40px;
    max-width:  95%;
    position: relative;
    left: 20px;
}

.table-nutrition td {
    margin-top: 30px;
}

.table-nutritional-number {
    padding-left: 360px;
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}

.hr-table {
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
    left: 0;
}